Registry/SampleData/MainWindowMenuSample/MainWindowMenuSample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.MainWindowMenuSample" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.MainWindowMenuSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainWindowMenuSample" type="tns:MainWindowMenuSample" />
  <xs:complexType name="MainWindowMenuSample">
    <xs:sequence>
      <xs:element name="MenuCommandsItems" type="tns:MenuCommandsItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MenuCommandsItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MenuCommandsItemsItem" type="tns:MenuCommandsItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MenuCommandsItemsItem">
    <xs:attribute name="Item" type="xs:string" />
  </xs:complexType>
</xs:schema>