Registry/SampleData/ChangeLogDataSource/ChangeLogDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ChangeLogDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ChangeLogDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ChangeLogDataSource" type="tns:ChangeLogDataSource" />
  <xs:complexType name="ChangeLogDataSource">
    <xs:sequence>
      <xs:element name="AllChanges" type="tns:AllChanges" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllChanges">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AllChangesItem" type="tns:AllChangesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllChangesItem">
    <xs:attribute blend:Format="Date" name="Time" type="xs:string" />
    <xs:attribute blend:FormatParameters="8,12" name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>